.sidenav{
    background-color: #3F51B5;
    width: 150px;
}

.sidenav a {
    color: #FFFFFF;
}

.sidenav i {
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #FF   FFFF;
}