/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.red {
    color: rgb(227, 89, 88);
}

.v-middle{
    vertical-align: middle;
}

.msg-success{
    background-color: #468015;
    color: #FFFFFF;
}

.msg-error{
    background-color: #ff290a;
    color: #FFFFFF;
}